# Core functionality - changes here should be rare!
/src/app.py                   @jdev-yewintnaing
/src/backend/database.py      @jdev-yewintnaing
/src/backend/routers/auth.py  @jdev-yewintnaing

# The frontend will need refactored soon to be more object oriented.
/src/static/   @jdev-yewintnaing
